<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            
            <div class="col-12">
                <hr class="light-my">
                <h5>&copy; <a id="remove-deco" href="#">Created by Nimantha Nadeeraka</a> </h5>
            </div>

        </div>

    </div>
</footer>

</body>

</html>