<%- include('layouts/header.ejs') %> <%- include('layouts/nav.ejs') %>
<h1>Error</h1>
<div class="jumbotron text-center mb-5">
  <img src="/dist/img/404/3.jpg" class="404" alt="404" />
</div>
<%- include('layouts/footer.ejs') %>
