<%- include('layouts/header.ejs') %>
<%- include('layouts/nav.ejs') %>
 <body>
    <div class="container-fluid">
        <h1 class="text-center">Hello welcome to Luba</h1>

    </div>
    
  </body>
</html>
