<%- include('layouts/header.ejs') %> <%- include('layouts/nav.ejs') %>
<div class="container-fluid">
  <h1>LUBA</h1>
  <img class="bp" src="/dist/img/backgrounds/2.jpg" alt="" />
  <div class="jumbotron text-center">
    <h2>what is a Idea</h2>
    <p>
      In philosophy, ideas are usually taken as mental representational images
      of some object. Ideas can also be abstract concepts that do not present as
      mental images. Many philosophers have considered ideas to be a fundamental
      ontological category of being.
      <a href="" class="btn btn-success" type="button">More details</a>
    </p>
  </div>
</div>
<%- include('layouts/footer.ejs') %>
