<%- include('layouts/header.ejs') %>
<%- include('layouts/nav.ejs') %>
 <body>
     
    <div class="jumbotron text-center">
        <h2>Luba</h2>
        <p>
            Welcome to Luba        </p>
    </div>

    
  </body>
</html>
