<%- include('../layouts/header.ejs') %> <%- include('../layouts/nav.ejs') %>
<div class="jumbotron text-center">
  <h2>Add Ideas</h2>
  <p>It is good idea to add idea</p>
</div>
<div class="container">
  <div class="card card-body">
    <form action="/idea" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Add a title"
        />
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <textarea
          type="text"
          placeholder="type details hear"
          name="details"
          class="form-control"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Idea</button>
    </form>
  </div>
</div>
