<%- include('../../layouts/header.ejs') %> <%- include('../../layouts/nav.ejs')
%>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img src="/dist/img/auth/1.png" alt="login logo" />
      <h3 class="text-center mt-3">User Login with Google</h3>
      <a class="btn btn-danger g" href="/auth/login">Google +</a>
    </div>
  </div>
</div>
<%- include('../../layouts/footer.ejs') %>
